# CHALLENGE NO 3
## CARGO LOADING OPTIMISATION

### BACKGROUND
To be able to deliver more sustainable transport solutions to our customers, Scania is focusing to optimise cargo usage.

This problem challenges you to maximise the value of cargo when loading a Scania truck. You are provided with a container of limited weight capacity and a collection of items with different values and weights. You have only one of each item to choose from. Your task is to maximise the value of the cargo without exceeding its total capacity.

### DATA
Cargo weight limit: 10000 kg
Data file: List of 100 items. Each line contains value and weight download loadingdata.txt

### ANSWER
The correct answer is the maximum value of the cargo without exceeding the total weight capacity

In [2]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import seaborn as sns
sns.set()

In [3]:
raw = pd.read_csv('loadingdata.txt', sep=' ', header=None)

In [4]:
raw.columns = ['value', 'weight']
raw.head(10)

   value  weight
0    336     342
1   1629    1514
2    697     696
3   1269    1433
4   1613    1762
5     36      40
6   1737    1635
7    473     442
8   1856    1899
9   2055    1960

In [5]:
# knapsack

In [6]:
df = raw.copy()

In [13]:
df['vu'] = df['value'] / df['weight']
df

    value  weight        vu
0     336     342  0.982456
1    1629    1514  1.075958
2     697     696  1.001437
3    1269    1433  0.885555
4    1613    1762  0.915437
..    ...     ...       ...
95   1783    1843  0.967444
96   1253    1319  0.949962
97   1268    1375  0.922182
98   1144    1234  0.927066
99    878     818  1.073350

[100 rows x 3 columns]

In [15]:
df_sorted = df.sort_values('vu', ascending=False)
df_sorted

    value  weight        vu
38    967     670  1.443284
12   1880    1670  1.125749
34   1970    1764  1.116780
19   1870    1680  1.113095
30   1842    1680  1.096429
..    ...     ...       ...
31    757     842  0.899050
36   1604    1810  0.886188
3    1269    1433  0.885555
49   1168    1326  0.880845
37      2       3  0.666667

[100 rows x 3 columns]

In [ ]:
# df_sorted['value'].values.tolist()

In [27]:
def knapsack(value, weight, capacity):
    """Return the maximum value of items that doesn't exceed capacity.
 
    value[i] is the value of item i and weight[i] is the weight of item i
    for 1 <= i <= n where n is the number of items.
 
    capacity is the maximum weight.
    """
    n = len(value) - 1
 
    # m[i][w] will store the maximum value that can be attained with a maximum
    # capacity of w and using only the first i items
    m = [[-1]*(capacity + 1) for _ in range(n + 1)]
 
    return knapsack_helper(value, weight, m, n, capacity)
 
 
def knapsack_helper(value, weight, m, i, w):
    """Return maximum value of first i items attainable with weight <= w.
 
    m[i][w] will store the maximum value that can be attained with a maximum
    capacity of w and using only the first i items
    This function fills m as smaller subproblems needed to compute m[i][w] are
    solved.
 
    value[i] is the value of item i and weight[i] is the weight of item i
    for 1 <= i <= n where n is the number of items.
    """
    if m[i][w] >= 0:
        return m[i][w]
 
    if i == 0:
        q = 0
    elif weight[i] <= w:
        q = max(knapsack_helper(value, weight,
                                m, i - 1 , w - weight[i])
                + value[i],
                knapsack_helper(value, weight,
                                m, i - 1 , w))
    else:
        q = knapsack_helper(value, weight,
                            m, i - 1 , w)
    m[i][w] = q
    return q
 
 
# # n = int(input('Enter number of items: '))
# n = 50
# value = input('Enter the values of the {} item(s) in order: '.format(n)).split()
# value = [int(v) for v in value]
# value.insert(0, None) # so that the value of the ith item is at value[i]
# weight = input('Enter the positive weights of the {} item(s) in order: '
#                .format(n)).split()
# weight = [int(w) for w in weight]
# weight.insert(0, None) # so that the weight of the ith item is at weight[i]
# capacity = int(input('Enter maximum weight: '))

capacity = 10_000
value = df['value'].values.tolist()
weight = df['weight'].values.tolist()

ans = knapsack(value, weight, capacity)
print('The maximum value of items that can be carried:', ans)

The maximum value of items that can be carried: 11287

In [28]:
n = len(value) -1
n

99